<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: rgb(243, 243, 241);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .title{
        font-size: x-large;
        font-weight: 600;
        text-align: center;
      }
      .link{
        margin-top: 15px;
        display: inline-block;
        color: blue;
      }
    </style>
  </head>
  <body>
    <p class="title">
      Welcome to Dhaka Catering. Please Log In. <br>
      <a class="link" href="https://dhaka-catering.netlify.app/signin"
        >Click Here</a
      >
    </p>
  </body>
</html>
